*.iml
*.properties

EliteInventory/gradle/
EliteInventory/build/
EliteInventory/.gradle/
EliteInventory/.idea/

EliteSelfHelp/build/
EliteSelfHelp/gradle/
EliteSelfHelp/.gradle/
EliteSelfHelp/.idea/

EliteWeights/build/
EliteWeights/gradle/
EliteWeights/.gradle/
EliteWeights/.idea/
EliteWeights/import-summary.txt
